# project requirements
ctransformers
easydict
faiss-gpu
langchain-community
sentence-transformers
openpyxl
pandas
PyQt6 # ui was not finished
pypdf
python-docx 
python-pptx
pyyaml
unstructured
